---
import { User } from '@payload/payload-types';
import { getPosts } from 'src/api/post';
import Layout from 'src/layouts/Layout.astro';

const data = await getPosts();
console.log(data);
---

<Layout>
  <h1 class="font-semibold">Posts</h1>
  <ul class="py-8 flex flex-col max-w-md">
    {
      data.docs
        .filter((doc) => doc._status === 'published')
        .map((doc) => (
          <a href={`/w/${doc.slug}`}>
            <li class=" border-black border-2 lg:border-[3px] mb-2 last:mb-0 p-2 rounded-md flex flex-col">
              <h2 class="capitalize text-2xl lg:text-3xl">{doc.title}</h2>
              {/*
              <code class=" overflow-auto">
                <pre>{JSON.stringify(doc.layout, null, 2)}</pre>
              </code>
              */}
              <span class="flex justify-between items-center self-end">
                <span class="text-sm">by: </span>&nbsp;
                <span class="text-md capitalize">{`${
                  (doc.author as User).name
                }`}</span>
              </span>
              <p class="text-md text-gray-600">{doc.meta.title}</p>
            </li>
          </a>
        ))
    }
  </ul>
  <h1>hiiii</h1>
</Layout>
