---
import BaseHead from '../components/astro/BaseHead.astro';
import Footer from '../components/astro/Footer.astro';
import Header from '../components/astro/Header.astro';
import Main from '../components/astro/Main.astro';
const { title } = Astro.props;
import './global.css';
---

<html lang="en" class="font-sans bg-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} />
  </head>
  <body class="text-lg max-w-screen-xl mx-auto text-primary overflow-x-hidden">
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
    <style>
      @font-face {
        font-family: 'tt_commons';
        src: url('/fonts/tt_commons_regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'tt_commons';
        src: url('/fonts/tt_commons_bold.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'canela';
        src: url('/fonts/canela_light.otf') format('opentype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'canela';
        src: url('/fonts/canela_medium.otf') format('opentype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
