---
import { getPost } from 'src/api/post';
import Layout from 'src/layouts/Layout.astro';

const { slug } = Astro.params;
// const { docs } = await getPost(slug);
// const post = docs.at(0);
// const layout = post.layout;

// const value = layout.at(0).blockType === 'content' ? layout : layout.at(0).text;
---

<Layout>
  <h1>{slug}</h1>

  <code class="overflow-auto">
    <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
  </code>
</Layout>
