---
import { User } from '@payload/payload-types';
import { getPosts } from '../../api/post';
import Layout from '../../layouts/Layout.astro';

const data = await getPosts({ depth: 4 });
---

<Layout>
  <h1>Posts</h1>
  <ul>
    {
      data.docs
        .filter((doc) => doc._status === 'published')
        .map((doc) => (
          <li class="bg-teal-400 mb-2">
            <h2>{doc.title}</h2>
            <p>{(doc.author as User).name}</p>
            <p>{doc.meta.title}</p>
          </li>
        ))
    }
  </ul>
</Layout>
