---
import Nav from '../solid/Nav';
---

<header>
  <div class="container mx-auto flex items-center justify-between px-8 py-6">
    <div class="flex items-center">
      <a href="/" class="font-canela-light text-primary text-p">Tepy</a>
    </div>
    <Nav client:load />
  </div>
</header>
