---
import Section from './Section.astro';
---

<Section title="My Thoughts" type={2}>
  <div class="w-80 shrink-0 rounded-sm py-2 px-4 border-2 border-primary">
    <h1>Principles</h1>
    <p class="line-clamp-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim
      voluptates ut. Modi, assumenda culpa! Neque eveniet rem soluta, error at
      eius voluptatem tempora, necessitatibus, ullam velit alias sapiente
      suscipit.
    </p>
  </div>
  <div class="w-80 shrink-0 rounded-sm py-2 px-4 border-2 border-primary">
    <h1>Principles</h1>
    <p class="line-clamp-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim
      voluptates ut. Modi, assumenda culpa! Neque eveniet rem soluta, error at
      eius voluptatem tempora, necessitatibus, ullam velit alias sapiente
      suscipit.
    </p>
  </div>
  <div class="w-80 shrink-0 rounded-sm py-2 px-4 border-2 border-primary">
    <h1>Principles</h1>
    <p class="line-clamp-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim
      voluptates ut. Modi, assumenda culpa! Neque eveniet rem soluta, error at
      eius voluptatem tempora, necessitatibus, ullam velit alias sapiente
      suscipit.
    </p>
  </div>
  <div class="w-80 shrink-0 rounded-sm py-2 px-4 border-2 border-primary">
    <h1>Principles</h1>
    <p class="line-clamp-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim
      voluptates ut. Modi, assumenda culpa! Neque eveniet rem soluta, error at
      eius voluptatem tempora, necessitatibus, ullam velit alias sapiente
      suscipit.
    </p>
  </div>
</Section>
