---
import Card, { CardProps } from './Card.astro';
import Section from './Section.astro';

const data: CardProps[] = [
  {
    title: 'Rich Text Editor',
    description:
      'Using React and TipTap, I built a rich text editor that can be used in any React app. It supports all the basic formatting options, as well as custom blocks and inline nodes. See the source code on GitHub.',
  },
  {
    title: 'React',
    description:
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta enim, doloribus voluptatibus maxime harum cum! Deleniti fuga expedita, mollitia aut repellat, consectetur enim, voluptas cumque est corporis impedit obcaecati at?',
  },
  {
    title: 'React',
    description:
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta enim, doloribus voluptatibus maxime harum cum! Deleniti fuga expedita, mollitia aut repellat, consectetur enim, voluptas cumque est corporis impedit obcaecati at?',
  },
];
---

<Section title="Frontend" type={1}>
  {data.map((card) => <Card {...card} />)}
</Section>

<style>
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
</style>
