---
import Section from './Section.astro';
---

<Section title="Frontend" type={1}>
  <div
    class="w-64 shrink-0 bg-teal-primary shadow-lg p-6 rounded-sm snap-center"
  >
    <h3 class="text-3xl font-bold mb-2">React</h3>
    <p class="text-base line-clamp-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta enim,
      doloribus voluptatibus maxime harum cum! Deleniti fuga expedita, mollitia
      aut repellat, consectetur enim, voluptas cumque est corporis impedit
      obcaecati at?
    </p>
  </div>
  <div
    class="w-64 shrink-0 bg-teal-primary shadow-lg p-6 rounded-sm snap-center"
  >
    <h3 class="text-3xl font-bold mb-2">React</h3>
    <p class="text-base line-clamp-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta enim,
      doloribus voluptatibus maxime harum cum! Deleniti fuga expedita, mollitia
      aut repellat, consectetur enim, voluptas cumque est corporis impedit
      obcaecati at?
    </p>
  </div>
  <div
    class="w-64 shrink-0 bg-teal-primary shadow-lg p-6 rounded-sm snap-center"
  >
    <h3 class="text-3xl font-bold mb-2">React</h3>
    <p class="text-base line-clamp-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta enim,
      doloribus voluptatibus maxime harum cum! Deleniti fuga expedita, mollitia
      aut repellat, consectetur enim, voluptas cumque est corporis impedit
      obcaecati at?
    </p>
  </div>
</Section>

<style>
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
</style>
