---
const socials = [];
---

<section
  class="h-60 md:h-80 mb-10 md:mb-20 max-w-5xl md:px-4 lg:px-8 py-4 md:py-6 lg:py-8 flex items-center justify-center"
>
  <div class="text-center">
    <h1 class="text-4xl leading-loose tracking-wide">
      I'm <span class="text-teal-primary">Tepy</span>
    </h1>
    <p>Software Engineer</p>
    <p>
      <span>Frontend</span>
      <span>&rightarrow;</span>
      <span>Fullstack</span>
    </p>
  </div>
</section>
